<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: red;">Serviço autorizado</h1>
    <hr>
    <p><b>Proprietário do veículo</b></p>
    <p><%= nome %></p>
    <p><%= fabricante %><%= modelo %> (<%= ano %>)</p>
    <hr>
    <p><b>Serviço</b></p>
    <p><%= titulo %></p>
    <p><b>Data de emissão</b></p> 
    <p><%= dateUTC %></p>
    <hr>
    <p><b>Valor:</b> <%= valor %></p>
</body>
</html>